@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
    }

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

h1 {
    color: $red;  
}

p {
    color: $font-gray;
    font-family: $font;
}

.card-body {
    width: $card-width; //approx 65%
    background-color: $gray;
    border: 1px solid $dark-gray;
    border-radius: 5px;
}

.card-content {
    background-color: $white;
    margin: 2.5rem;
    padding: 1.8rem;
    display: flex;
    &_headshot-container {
        // wrapper containing the headshot, name and title
        text-align: center;
        width: 40%;
        img {
            width: 75%;
            border-radius: 50%;
        }
        p {
            &:first-of-type {
                //name
                margin-top: 1rem;
                font-size: calculateRem(26px);
                font-weight: bold;
            }
            &:last-of-type {
                //title
                font-style: italic;
                font-size: calculateRem(20px); 
            }
            margin: 0;
        }
    }
    &_detail-container {
        // wrapper containing personal information and Linked-in detail
        margin: 0 0 0 1rem;
        padding: 2rem;
        width: 60%;
        background-color: $medium-gray;
    }
}

.attribute-container {
    // section that lists personal information
    &_inline {
        display: flex;
        p {
            margin: 0 0 1.1rem 0;
            font-size: calculateRem(20px); 
            &:first-of-type {
                font-weight: bold;
                margin-right: 3px;
                &::after {
                    content: ":";
                }  
            }
        }
    }
}

.linkedin-container {
    // line displaying Linked-in logo and info
    display: flex;
    img {
        margin-right: 10px;
    }
    p {
        font-size: calculateRem(20px); 
    }
}

@media screen and (max-width: 767px) {
    //media query for mobile or smaller
    .card-body {
        width: 100%
    }
    .card-content {
        flex-direction: column;
        &_headshot-container {
            width: 100%;
        }
        &_detail-container {
            width: 100%;
            margin: 1rem 0 0 0;
        }
    }
}

