@mixin removeLiIndent {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

a, p {
    color: white;
}

.main {
    padding: 2rem;
    display: grid;
    grid-template-areas: 
    "head head head"
    "navi navi navi"
    "sidebar sec sec"
    "foot foot foot";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 4fr 2fr;
    &__header {
            grid-area: head;
            background-color: $red;
            @include flexCenter();
    }
    &__nav {
        grid-area: navi;
        background-color: $green;
        padding: 2rem;
        ul {
            @include removeLiIndent();
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;  
            li a {
                text-decoration: none;
            }
        }
    }
    &__aside {
        grid-area: sidebar;
        background: $purple;
        @include flexCenter();
    }
    
    &__section {
        grid-area: sec;
        background-color: $orange;
        @include flexCenter();
    }
    
    &__footer {
        grid-area: foot;
        background-color: $blue;
        @include flexCenter();
    }
}
